{% load static %}
</div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">

						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

						    </div>
						  </div>

						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->


	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="#">Pesticides Info..</a>,  All Rights Reserved.<br>

					</p>
				</div>

			</div>
		</div>
	</div>
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js'%}"></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js'%}"></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js'%}"></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js'%}"></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js'%}"></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js'%}"></script>

</body>
</html>