<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pesticides Information System</title>
</head>
<body>
<h1>Welcome to Pesticides Information System</h1>
<p><a href="{% url 'reg' %}">Registration</a></p>
<p><a href="{% url 'login' %}">Login</a></p>
<p><a href="{% url 'category' %}">AddCategory</a></p>
<p><a href="{% url 'product' %}">AddProduct</a></p>
<p><a href="{% url 'stock' %}">AddStock</a></p>
<p><a href="{% url 'orderdetails' %}">OrderDetails</a></p>
<p><a href="{% url 'feedback' %}">Feedback</a></p>
<p><a href="{% url 'reg_view' %}">View Registration</a></p>
<p><a href="{% url 'login_view'%}">View Login</a></p>
<p><a href="{% url 'category_view'%}">View Category</a></p>
<p><a href="{% url 'product_view'%}">View Product</a></p>
<p><a href="{% url 'stock_view'%}">View Stock</a></p>
<p><a href="{% url 'orderdetails_view'%}">View OrderDetails</a></p>
<p><a href="{% url 'feedback_view'%}">View Feedback</a></p>



</body>
</html>