	<nav class="main-menu bg-dark">
							<ul>
								<li class="current-list-item"><a href="{% url 'index' %}">Home</a>

								</li>
								<li><a href="#">About</a></li>
								<!--<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="404.html">404 page</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="news.html">News</a></li>
										<li><a href="shop.html">Shop</a></li>
									</ul>
								</li>-->

								<li><a href="#">Contact</a></li>
								<li><a href="{% url 'reg' %}">SignUp</a></li>
								<li><a href="{% url 'login' %}">Login</a></li>

								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>

									</div>
								</li>
							</ul>
						</nav>