	<nav class="main-menu bg-dark" style="margin-left:400px;">
							<ul>
								<li class="current-list-item"><a href="{% url 'seller_home' %}">Home</a></li>

								<li><a href="#">Crops</a>
									<ul class="sub-menu">
										<li><a href="#">Sell</a></li>
										<li><a href="#">Status</a></li>

									</ul>
								</li>

								<li><a href="#">My Payment</a></li>
								<li><a href="{% url 'index' %}">Logout</a></li>

								<li>
									<div class="header-icons">
										<a class="shopping-cart" href=""><i class="fas fa-shopping-cart"></i></a>

									</div>
								</li>
							</ul>
						</nav>